.navbar {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  height: 64px;
}

.navbarnav {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-around;
}
.navItem {
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    font-size: var(--text-md);
    margin-left: 2vw;
    
}
.navItem:hover {
  filter: brightness(0.9);
  border-bottom: 1px solid red;
}
.dropDown {
    padding: 1vw;
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    border: 1px solid #dedede;
    box-shadow: 1px 1px gray;
    min-width: 20vw;
}
.dropDownItem{
    font-size: var(--text-md);
}

